<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
    для удобства настройки приложения, значения настроек можно вынести в отдельный файл с которым
    будут работать конечные пользователи т.к. они не должны знать внутренней специфики приложения
    -->
    <context:property-placeholder location="application.properties" />

    <!-- включает поддерку аннатаций -->
    <context:annotation-config />

    <bean id="helloWorldProvider" class="org.example.HelloWorldProvider" />
    <bean id="anotherProvider" class="org.example.AnotherProvider" />

    <!-- внедрение зависимостей происходит через аннотации -->
    <bean id="helloWorldWriter" class="org.example.HelloWorldWriter" />
</beans>